<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/process/list">Processes</a></li>
    <li class="breadcrumb-item active">Add</a></li>
</ol>
<h1 class="display-4">Add Process</h1>
<form method="POST" action="create">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="shortName">Short Name</label>
        <input type="text" name="shortName" class="form-control">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control">
    </div>

    <div class="form-group">
        <label for="materials">Materials</label>
        <input type="text" name="materials" class="form-control">
    </div>

    <input type="submit" value="Submit" class="btn btn-primary">
</form>