<h1 class="display-4">Welcome to database</h1>
<p class="mb-4">This is a Sails.js app for managing data</p>
<div>
<a href="/vendors/list" class="btn btn-light">View Vendors</a>
<a href="/vendors/add" class="btn btn-light">Add Vendors</a>
</div>
<div>
    <a href="/process/list" class="btn btn-light">View Processes</a>
    <a href="/process/add" class="btn btn-light">Add Processes</a>
</div>
<div>
        <a href="/materials/list" class="btn btn-light">View Materials</a>
        <a href="/materials/add" class="btn btn-light">Add Materials</a>
</div>
    
